/node_modules
/vendor/*
public/vendor/*
public/assets/*
/public/hot
/public/storage
storage/*
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
betting.zip
composer.lock
